<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.thoughtworks.thoughtferret"
      android:versionCode="1"
      android:versionName="1.0">
    <application
    	android:icon="@drawable/icon"
   	 	android:label="@string/app_name"
   	 	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:debuggable="true">
        <activity android:name=".view.home.Home"
        		  android:screenOrientation="landscape"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.update.MoodUpdate"
        		  android:screenOrientation="landscape"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".view.moodgraph.MoodGraph"
				  android:label="@string/app_name">
		</activity>
        <activity android:name=".view.happywords.HappyWords"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".view.preferences.EditPreferences"
				  android:label="@string/app_name">
		</activity>
		<activity android:name=".view.DemoHacks"
				  android:label="@string/app_name">
		</activity>
		<receiver android:name=".scheduler.AlarmReceiver">
		</receiver>
		<receiver android:name=".scheduler.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
	<uses-sdk android:minSdkVersion="7"></uses-sdk>
</manifest>
 